pkgbase = stably-orca-bin
	pkgdesc = Stably AI Orca - Electron-based agentic coding IDE (prebuilt AppImage)
	pkgver = 1.1.30
	pkgrel = 1
	url = https://github.com/stablyai/orca
	arch = x86_64
	license = MIT
	depends = fuse2
	depends = zlib
	depends = hicolor-icon-theme
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libnotify
	depends = libxss
	depends = libxtst
	depends = libsecret
	provides = stably-orca
	conflicts = stably-orca
	conflicts = stably-orca-git
	options = !strip
	options = !debug
	noextract = stably-orca-bin-1.1.30.AppImage
	source = stably-orca-bin-1.1.30.AppImage::https://github.com/stablyai/orca/releases/download/v1.1.30/orca-linux.AppImage
	source = stably-orca.sh
	source = stably-orca.desktop
	sha256sums = afea26a6ffdcf8710eeab2b2b36d63a5e928594ede3cf6dc151ad3154fa96417
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = stably-orca-bin
